{:paths ["src/main"]
 :deps {jkxyz/tailwind {:local/root "../tailwind"}}
 :aliases
 {:tailwind/used-classes
  {:extra-deps {jkxyz/tailwind-cli {:local/root "../tailwind-cli"}}
   :exec-fn tailwind.cli/used-classes
   :exec-args {:clj-nses [example.main] :cljs-nses [example.main]}}}}
